:root {
  --main-bgc: #ffffff;

  --primary-text-color: #757575;
  --secondary-text-color: #212121;

  --accent-color-text: #ffffff;
  --accent-color-background: #2196f3;
  --secondary-bgc: #f5f4fa;
}

body {
  background-color: var(--main-bgc);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

/* Скрытие логичных заголовков */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* обнуление дек. ссылок и списков + ховеры и фокусы*/

h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

.list,
.link {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.link:hover,
.link:focus {
  color: var(--accent-color-background);
}
.btn {
  font-family: inherit;
}
.btn:hover,
.btn:focus {
  color: var(--accent-color-text);
  background-color: var(--accent-color-background);
}

/* Header */

.header {
  border-bottom: 1px solid #ececec;
}
.current {
  color: var(--accent-color-background);
}
.container {
  display: flex;
  align-items: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.nav {
  display: flex;
  align-items: center;
}

/* logo */
.nav-logo {
  color: var(--accent-color-background);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-style: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-style-header {
  color: #000000;
}
.logo-style-footer {
  color: var(--accent-color-text);
}
.nav > .nav-logo {
  margin-right: 94px;
}

.nav-list-item {
  margin-right: 50px;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-list-item.link,
.contact-list-item.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts.list {
  display: flex;
  margin-left: auto;
}
.contact-list-item {
  margin-right: 50px;

  color: currentColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-list-item:last-child,
.nav-list-item:last-child {
  margin-right: 0;
}

/* main Студия */
/* main Студия -Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;

  background-color: #2f303a;
}

.headline {
  padding-right: 452px;
  padding-left: 452px;

  margin-bottom: 30px;
  color: var(--accent-color-text);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.footer {
  background-color: #2f303a;
}
.btn {
  cursor: pointer;
}
.order {
  color: var(--accent-color-text);
  background-color: var(--accent-color-background);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
}

.order:hover,
.order:focus {
  background-color: #188ce8;
}

/* main Студия - Особенности */

.features.list {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-title {
  margin-bottom: 10px;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.features-list-item:not(:last-child) {
  margin-right: 30px;
}
.features-disc {
  line-height: 1.7;
}

/* main Студия - Чем мы занимаемся */
.promo {
  text-align: center;
}
.promo.list.container {
  padding-bottom: 94px;
}

.promo-caption,
.team-caption {
  margin-bottom: 50px;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.promo.list {
  display: flex;
  justify-content: space-between;
}
.promo-list-item-img {
  display: block;
}
/* main Студия - Наша команда */
.team {
  text-align: center;
  background-color: var(--secondary-bgc);
}
.team-caption {
  padding-top: 94px;
}
.team.list.container {
  padding-bottom: 94px;
}
.team-list-item:not(:last-child) {
  padding-right: 30px;
}
.team-list-item-img {
  display: block;
  margin-bottom: 30px;
}

.team-member {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}
.team-post {
  font-size: 16px;
  line-height: 1.19;
}
/* .team-post,
.team-member {
  text-align: center;
} */

/* Footer */
.block {
  display: block;
}
.address {
  color: var(--accent-color-text);
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.contact {
  color: rgba(255, 255, 255, 60%);
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Portfolio */
.check-list-item {
  list-style: none;
}
.check {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--secondary-bgc);
}
.active {
  color: var(--accent-color-text);
  background-color: var(--accent-color-background);
}
/* .gallary-caption:focus,
.gallary-caption:hover,
.filter-point:focus,
.filter-point:hover {
  color: var(--accent-color-background);
} */

.gallary-caption {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.filter-point {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9x;
}
